html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #000;
  /* background-color: #000; */
}

input {
  color: #fff;
}

#main {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#musicplayer {
  max-width: 400px;
  background: purple;
}

#musiccontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 615px;
}

#music-img {
  max-width: 100%;
  max-height: 45vh;
  width: auto;
  /* /testing/ */
  height: auto;
}

#music-btm {
  display: flex;
  align-items: center;
  justify-content: center;
}

#song-info {
  align-items: flex-start;
}

#btm-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  align-items: center;
}

#create-room {
  color: #fff;
}

input.jss4 {
  color: white;
}
